.main {
    position: relative;
    .contact-pattern {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 1;
    }
}
.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    flex-direction: column;
    position: relative;
    z-index: 2;
    h5 {
        margin: 15px 0;
        color: $white;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    .social-link {
        a {
            margin: 10px 5px;
        }
    }
}
@media (max-width: $lg) {
    .main {
        position: relative;
        overflow: hidden;
        .contact-pattern {
            height: 100vh;
            width: auto;
            object-fit: cover;
        }
    }
    .contact-us {
        padding: 50px 0;
        h1 {
            font-size: 62px;
            line-height: 1.2;
        }
        h5 {
            font-size: 16px;
        }
    }
}
