.why-arena {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0;
}
.what-we-do {
    padding-bottom: 200px;
    h2 {
        margin: 80px 0;
    }
}
.what-we-do-content {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 56px;
    margin-bottom: 80px;
    margin-right: 90px;
    margin-left: 90px;
    .what-item {
        border-radius: 20px;
        // border: 3px solid $white;
        background: transparent;
        transition: all 0.3s;
        position: relative;
        padding: 30px;
        width: calc(33.3% - 37px);
        box-shadow: inset 2px 2px 0 white, inset -2px -2px 0 white, inset 2px -2px 0 white, inset -2px 2px 0 white;
        &:hover {
            background: $default-gradient;
            box-shadow: none;
        }
        .item-pattern {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        h5 {
            font-weight: 500;
            font-size: 26px;
            line-height: 120%;
            margin: 15px 0;
            color: $white;
            margin-bottom: 30px;
        }
        p {
            max-width: 200px;
            color: $white;
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

@media (max-width: $lg) {
    .what-we-do-content {
        margin-right: 40px;
        margin-left: 40px;
        .what-item {
            width: calc(50% - 28px);
        }
    }
}

@media (max-width: $xs) {
    .what-we-do-content {
        margin-right: 20px;
        margin-left: 20px;
        .what-item {
            width: 100%;
        }
    }
}
