$default-gradient: linear-gradient(90deg, #a08bf4 0%, #f88089 51.56%, #fec461 100%);
$default-gradient-hover: linear-gradient(90deg, #8974dd 0%, #d86e75 51.56%, #ce9e4b 100%);
$white: #f3f2f2;
$black: #0a0a0a;
$text-hover-color: #d862fc;
$xs: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
